
body {
  font-family: "Roboto", sans-serif;
   overflow-y: auto;
}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:50%;
}
/*
 .reveal h1{
	color:#ffffff
}




*/

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
	border: none; 
	box-shadow: none; 
}

.reveal img[alt=fullSize] {
			top:-20px;
			z-index:-10;
			min-height: 400px;
			max-height: 700px;
			min-width: 500px;
			overflow:hidden;
		}

.fullSize {
width:100%;
height:100%;
	
}


.section .reveal h1 {
    color: #E06B0B;
    text-shadow: none;
    font-family: "Roboto", sans-serif;
}

.section .reveal p {
 color: #333333;
 font-family: "Roboto", sans-serif;
}

.reveal p {
 color: #333333;
 font-family: "Roboto", sans-serif;
 
}

.reveal h2 {
  color: #E06B0B;
  font-family: "Roboto", sans-serif;
  line-height: normal;
  font-size:2em;
  
}

.section .reveal .state-background {
    background: #ffffff;
  
    background-image: url('logo.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 5% 90%;
}


.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #F57F20;

  
}

.reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #444444;
}

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #F57F20;

  
}

.reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #444444;
}

.reveal .progress span {
  background: #E06B0B;
  
}

.slides {
  width: 95%;
  height: 95%;
  text-align: center;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto 30px auto ;
    padding: 40px 40px 20px 40px;
    font-style: normal;
    background: #C6D7DC;
    border: 1px solid #C6D7DC;
    box-shadow: none;
}

div.sourceCode {
  margin-bottom: 20px;
  background-color: #ffffff;
}

.reveal pre {
margin-bottom: 20px;
margin-top: 20px;
}
.reveal pre code {
  font-size: 1.5em;
  display: block;
  padding: 5px;
  max-height: 400px;
  word-wrap: normal;
}

.reveal .state-background {
  background: white;
} 
.reveal {
  color: black;
}

.section .reveal{

}

.section .reveal h2, .section .reveal p {
    margin-top: 20%;
    color: #E06B0B;
    text-shadow: none;
    font-family: "Roboto", sans-serif;
   
}

.forceBreak { -webkit-column-break-after: always; break-after: column; }

.slide {

  
}
